

.dropdown-container {
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.selectmenu-container{
  display: flex;
  width: 90%;
  height: 50%;
  margin: auto;
  padding: 10px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.list-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.list-item-container{
  margin-top: 10px;
  width: 100%;

}